:root {
  --primary-font: "Sora", sans-serif;
  --body-bg: #fdf9f1,
  --wrapper-size: 1440px;
  --inner-size: 1100px;
  --gap: 15px;
  --header-bg: #11110F;
  --login-btn: #4B4B4B;
  --green: #00BD82;
  --yellow: #DFFF1B;
  --text-gray:#B5B3AF;
  --text-semi-gray: #4F4D49;
  --text-light-gray: #EFE7D7;
}
@media only screen and (min-width: 768px) {
  :root {
    --gap: 30px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button {
  font-family: var(--primary-font);
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
}

div {
  background-size: cover;
}

.outer {
  max-width: var(--outer-size);
  margin: 0 auto;
}

.inner {
  max-width: calc(var(--inner-size) + var(--gap) * 2);
  padding: 0 var(--gap);
  margin: 0 auto;
}

body {
  background-color: #fdf9f1;
  font-family: var(--primary-font);
}

p {
  line-height: 1.6;
}

.text-primary {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
}
.btn:hover {
  transform: scale(1.1);
}

.section {
  margin-top: 60px;
}
@media only screen and (min-width: 768px) {
  .section {
    margin-top: 130px;
  }
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: var(--text-semi-gray);
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 60px;
  }
}

.header {
  --aspect-ratio: 0.49375;
  --header-img-value: clamp(340px, 60vw, 820px);
  position: relative;
  background-color: var(--header-bg);
  min-height: 40vh;
  padding-top: 5px;
  margin-bottom: 3rem;
}
.header .navbar {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
}
.header .navbar .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .navbar .logo {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .navbar .logo img {
  width: 17px;
  height: 17px;
}
.header .navbar .login {
  width: 95px;
  height: 35px;
  border-radius: 3px;
  margin-left: auto;
  background-color: var(--login-btn);
  color: white;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .header .navbar .login {
    margin-left: 0;
  }
}
.header .navbar .hamburger {
  position: relative;
  height: 15px;
  width: 20px;
  margin-left: 8%;
  cursor: pointer;
}
.header .navbar .hamburger span {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 3px;
  background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
  transition: 0.25s linear;
}
.header .navbar .hamburger span:first-child {
  transform-origin: 100% 100%;
  top: 0;
}
.header .navbar .hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}
.header .navbar .hamburger span:last-child {
  transform-origin: 100% 100%;
  bottom: 0;
}
.header .navbar .hamburger.closeIcon span:first-child {
  transform: rotate(-45deg);
}
.header .navbar .hamburger.closeIcon span:nth-child(2) {
  opacity: 0;
}
.header .navbar .hamburger.closeIcon span:last-child {
  transform: rotate(45deg) translate(0px, 2px);
}
@media only screen and (min-width: 768px) {
  .header .navbar .hamburger {
    display: none;
  }
}
.header .navbar__main a {
  position: relative;
  color: var(--text-gray);
  transition: 0.25s;
}
.header .navbar__main a:hover {
  color: white;
}
.header .navbar__main a.active {
  color: white;
}
.header .navbar__main.laptop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header .navbar__main.laptop {
    display: flex;
    align-items: center;
    gap: 3vw;
  }
}
.header .navbar__main.mobile {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.2s linear;
}
@media only screen and (min-width: 768px) {
  .header .navbar__main.mobile {
    display: none;
  }
}
.header .navbar__main.mobile.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  margin-top: calc(3.5rem + 64px);
}
.header__content h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 30px;
  max-width: 850px;
}
.header__content div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.header__content div .start {
  height: 44px;
  width: 120px;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
}
.header__content div .play {
  height: 40px;
  width: 40px;
  border-radius: 5rem;
  border: 2px solid var(--green);
  background-color: transparent;
}
.header__content div .play i {
  color: var(--yellow);
}
@media only screen and (min-width: 640px) {
  .header__content {
    margin-top: calc(6rem + 64px);
  }
}
@media only screen and (min-width: 768px) {
  .header__content h1 {
    font-size: 50px;
  }
}
.header__img {
  transform: translate(-1.2rem, 3rem);
  width: var(--header-img-value);
  padding-top: calc(var(--aspect-ratio) * var(--header-img-value));
  margin: 0 auto;
  background-image: url("../assets/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .header__img {
    transform: translate(-1.5rem, 5rem);
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
}

.countdown {
  background-color: var(--yellow);
}
.countdown .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0;
}
.countdown__item {
  text-align: center;
}
.countdown__item h3 {
  font-size: 45px;
}
.countdown__item p {
  color: var(--text-semi-gray);
}
@media only screen and (min-width: 768px) {
  .countdown .inner {
    flex-direction: row;
    justify-content: space-around;
  }
}

.newsletter .article {
  margin-bottom: 4rem;
}
.newsletter .article__img {
  text-align: right;
  margin-bottom: 2rem;
  margin-right: -15px;
}
.newsletter .article__img img {
  width: 350px;
  height: 350px;
}
.newsletter .article__title {
  margin-bottom: 1rem;
  font-size: 24px;
}
.newsletter .article__subtitle {
  color: var(--text-semi-gray);
}
.newsletter .article__item-container {
  margin-top: 3rem;
}
.newsletter .article__item-container section {
  margin-bottom: 2rem;
}
.newsletter .article__item-container section .icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 5rem;
  margin-bottom: 2rem;
  background-color: var(--green);
}
.newsletter .article__item-container section .icon__container i {
  font-size: 16px;
  color: white;
}
.newsletter .article__item-container section h4 {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 19px;
}
.newsletter .article__item-container section p {
  margin-bottom: 5px;
  color: var(--text-semi-gray);
}
.newsletter .article__item-container section a {
  font-weight: bold;
  color: inherit;
  font-size: 14px;
  text-decoration: underline;
}
.newsletter .article__content {
  margin: 1rem 0 3rem 0;
  color: var(--text-semi-gray);
}
.newsletter .article__content .underline {
  display: inline-block;
  height: 2px;
  width: 2rem;
  transform: translateY(-0.5rem);
  border-radius: 2px;
  background-color: var(--green);
}
.newsletter .article .learn-more {
  height: 44px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--green);
  color: white;
}
@media only screen and (min-width: 768px) {
  .newsletter .article {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .newsletter .article:nth-of-type(2) {
    flex-direction: row;
    gap: 7rem;
  }
  .newsletter .article__item-container {
    display: flex;
    gap: 3rem;
  }
  .newsletter .article__item-container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .newsletter .article .learn-more {
    width: 140px;
  }
}
.newsletter .article:last-child .article__img {
  text-align-last: left;
}
.newsletter .article:last-child .article__img img {
  margin-right: 0;
  margin-left: -30px;
}

.service-item__container section {
  padding: 15px 0;
  margin-bottom: 4rem;
}
.service-item__container section .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 5rem;
  background-color: var(--green);
  color: white;
}
.service-item__container section h3 {
  font-size: 24px;
  margin: 1rem 0 10px;
}
.service-item__container section p {
  color: var(--text-semi-gray);
}
.service-item__container section:nth-child(2) {
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .service-item__container section:nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 -30px;
  }
}
@media only screen and (min-width: 768px) {
  .service-item__container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  .service-item__container h3 {
    font-size: 20px !important;
  }
  .service-item__container section:nth-child(2) {
    margin: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.imagradtion {
  padding: 3.5rem 15px;
  background-color: #000;
}
.imagradtion__text h2 {
  font-size: 30px;
  margin-bottom: 1rem;
  color: #fff;
}
.imagradtion__text p {
  color: var(--text-light-gray);
  margin-bottom: 2rem;
}
.imagradtion__text button {
  height: 44px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4.5rem;
  background-color: var(--green);
  color: white;
}
.imagradtion__img {
  --width: 340px;
  --aspect-ratio: 1/1.2075;
  position: relative;
  width: var(--width);
  height: calc(var(--aspect-ratio) * var(--width));
  margin: 0 auto;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .imagradtion {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 3.5rem 30px;
  }
  .imagradtion__text h2 {
    font-size: 40px;
  }
  .imagradtion__text button {
    width: fit-content;
    padding: 0 30px;
  }
  .imagradtion__img {
    flex-shrink: 0;
  }
}

.library-btn__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 5rem;
}
.library-btn__container button {
  width: 30%;
  height: 44px;
  border-radius: 4px;
  color: black;
  background-color: transparent;
}
.library-btn__container button.active {
  background-color: black;
  color: var(--yellow);
}
.library-items div {
  width: 65%;
  max-width: 450px;
  margin: 0 auto 4rem;
}
.library-items div img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.library-items div span {
  font-size: 14px;
  color: var(--green);
}
.library-items div p {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .library-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
}
.library .update {
  width: 65%;
  height: 44px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: var(--green);
  color: white;
}
@media only screen and (min-width: 768px) {
  .library .update {
    width: fit-content;
    padding: 0 30px;
  }
}

.footer {
  height: 350px;
  background-color: black;
}
.footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer a img {
  width: 30px;
}
.footer h3 {
  color: white;
}
.footer p {
  color: var(--text-light-gray);
}
.footer-btn {
  height: 55px;
  width: fit-content;
  padding: 0 40px;
  border-radius: 4px;
  background-color: var(--green);
  color: white;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
