:root {
  --primary-font: "Sora", sans-serif;
  --body-bg: "fdf9f1",
  --wrapper-size: 1440px;
  --inner-size: 1100px;
  --gap: 15px;
  --header-bg: #11110F;
  --login-btn: #4B4B4B;
  --green: #00BD82;
  --yellow: #DFFF1B;
  --text-gray:#B5B3AF;
  --text-semi-gray: #4F4D49;
  --text-light-gray: #EFE7D7;
}
@media only screen and (min-width: 768px) {
  :root {
    --gap: 30px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, input, button {
  font-family: var(--primary-font);
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
}

div {
  background-size: cover;
}

.outer {
  max-width: var(--outer-size);
  margin: 0 auto;
}

.inner {
  max-width: calc(var(--inner-size) + var(--gap) * 2);
  padding: 0 var(--gap);
  margin: 0 auto;
}

body {
  background-color: var(--body-bg);
  font-family: var(--primary-font);
}

.text-primary {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.section {
  margin-top: 60px;
}
@media only screen and (min-width: 768px) {
  .section {
    margin-top: 130px;
  }
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 50px;
  }
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: var(--text-semi-gray);
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 60px;
  }
}

.header {
  --aspect-ratio: 0.49375;
  --header-img-value: clamp(340px, 60vw, 820px);
  position: relative;
  background-color: var(--header-bg);
  min-height: 40vh;
  padding-top: 5px;
  margin-bottom: 3rem;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header .navbar .logo {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .navbar .logo img {
  width: 17px;
  height: 17px;
}
.header .navbar .login {
  width: 95px;
  height: 35px;
  border-radius: 3px;
  margin-left: auto;
  background-color: var(--login-btn);
  color: white;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .header .navbar .login {
    margin-left: 0;
  }
}
.header .navbar .hamburger {
  position: relative;
  height: 15px;
  width: 20px;
  margin-left: 8%;
  cursor: pointer;
}
.header .navbar .hamburger span {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 3px;
  background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
}
.header .navbar .hamburger span:first-child {
  top: 0;
}
.header .navbar .hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}
.header .navbar .hamburger span:last-child {
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .header .navbar .hamburger {
    display: none;
  }
}
.header .navbar__main {
  display: none;
}
.header .navbar__main a {
  position: relative;
  color: var(--text-gray);
  transition: 0.25s;
}
.header .navbar__main a::before {
  content: "";
  position: absolute;
  top: 120%;
  height: 2px;
  width: 0%;
  border-radius: 3px;
  background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
  transition: 0.25s;
}
.header .navbar__main a:hover {
  color: white;
}
.header .navbar__main a:hover::before {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .header .navbar__main {
    display: flex;
    align-items: center;
    gap: 3vw;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  margin-top: 3.5rem;
}
.header__content h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 30px;
  max-width: 850px;
}
.header__content div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.header__content div .start {
  height: 44px;
  width: 120px;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
}
.header__content div .play {
  height: 40px;
  width: 40px;
  border-radius: 5rem;
  border: 2px solid var(--green);
  background-color: transparent;
}
.header__content div .play i {
  color: var(--yellow);
}
@media only screen and (min-width: 640px) {
  .header__content {
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 768px) {
  .header__content h1 {
    font-size: 50px;
  }
}
.header__img {
  transform: translate(-1.5rem, 3rem);
  width: var(--header-img-value);
  padding-top: calc(var(--aspect-ratio) * var(--header-img-value));
  margin: 0 auto;
  background-image: url("../assets/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .header__img {
    transform: translate(-1.5rem, 5rem);
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding-top: 2rem;
    margin-bottom: 5rem;
  }
}

.countdown {
  background-color: var(--yellow);
}
.countdown .inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 0;
}
.countdown__item {
  text-align: center;
}
.countdown__item h3 {
  font-size: 45px;
}
.countdown__item p {
  color: var(--text-semi-gray);
}
@media only screen and (min-width: 768px) {
  .countdown .inner {
    flex-direction: row;
    justify-content: space-around;
  }
}

.newsletter .article {
  margin-bottom: 4rem;
}
.newsletter .article__img {
  text-align: right;
  margin-bottom: 2rem;
  margin-right: -30px;
}
.newsletter .article__img img {
  width: 350px;
  height: 350px;
}
.newsletter .article__title {
  margin-bottom: 1rem;
  font-size: 24px;
}
.newsletter .article__subtitle {
  color: var(--text-semi-gray);
}
.newsletter .article__item-container {
  margin-top: 3rem;
}
.newsletter .article__item-container section {
  margin-bottom: 2rem;
}
.newsletter .article__item-container section .icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 5rem;
  background-color: var(--green);
}
.newsletter .article__item-container section .icon__container i {
  font-size: 16px;
  color: white;
}
.newsletter .article__item-container section h4 {
  margin: 10px 0;
}
.newsletter .article__item-container section p {
  margin-bottom: 5px;
}
.newsletter .article__item-container section a {
  font-weight: bold;
  color: inherit;
}
.newsletter .article__content {
  margin: 1rem 0 3rem 0;
  color: var(--text-semi-gray);
}
.newsletter .article__content .underline {
  display: inline-block;
  height: 2px;
  width: 2rem;
  transform: translateY(-0.5rem);
  border-radius: 2px;
  background-color: var(--green);
}
.newsletter .article .learn-more {
  height: 44px;
  width: 100%;
  border-radius: 3px;
  background-color: var(--green);
  color: white;
}
@media only screen and (min-width: 768px) {
  .newsletter .article {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
  .newsletter .article:nth-of-type(2) {
    flex-direction: row;
    gap: 7rem;
  }
  .newsletter .article__item-container {
    display: flex;
    gap: 3rem;
  }
  .newsletter .article__item-container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.newsletter .article:last-child .article__img {
  text-align-last: left;
}
.newsletter .article:last-child .article__img img {
  margin-right: 0;
  margin-left: -30px;
}

/*# sourceMappingURL=style.css.map */
