.footer {
   height: 350px;
   background-color: black;
   .inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 2rem 0;
   }
   a {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
         width: 30px;
      }
   }
   h3 {
      color: white;
   }
   p {
      color: var(--text-light-gray);
   }
   &-btn {
      height: 55px;
      width: fit-content;
      padding: 0 40px;
      border-radius: 4px;
      background-color: var(--green);
      color: white;
      font-size: 18px;
   }
}