@use 'variables';
.outer {
   max-width: var(--outer-size);
   margin: 0 auto;
}
.inner {
   max-width: calc(var(--inner-size) + var(--gap) * 2);
   padding: 0 var(--gap);
   margin: 0 auto;
}
body {
   background-color: #fdf9f1;
   font-family: var(--primary-font);
}
p {
   line-height: 1.6;
}

.text-primary {
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   background-image: linear-gradient(92.55deg, #defe1b -5.35%, #00bd82 114.92%);
}
.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   cursor: pointer;
}
.section {
   margin-top: 60px;
   @media only screen and (min-width: 768px) {
      margin-top: 130px;
   }
}
.title {
      font-size: 30px;
      text-align: center;
      margin-bottom: 1rem;
      @media only screen and (min-width: 768px) {
         font-size: 50px;
      }
   }
.subtitle {
   text-align: center;
   font-size: 18px;
   color: var(--text-semi-gray);
   margin-bottom: 40px;
   @media only screen and (min-width: 768px) {
      margin-bottom: 60px;
   }
}
