.header {
   --aspect-ratio: 0.49375;
   --header-img-value: clamp(340px, 60vw, 820px);
   position: relative;
   background-color: var(--header-bg);
   min-height: 40vh;
   padding-top: 5px;
   margin-bottom: 3rem;
   .navbar {
      position: fixed;
      z-index: 99;
      left: 0;
      right: 0;
      top: 0;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--header-bg);
      .inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
      }
      .logo {
         font-size: 16px;
         display: flex;
         align-items: center;
         gap: 1rem;
         img {
            width: 17px;
            height: 17px;
         }
      }
      .login {
         width: 95px;
         height: 35px;
         border-radius: 3px;
         margin-left: auto;
         background-color: var(--login-btn);
         color: white;
         font-size: 13px;
         @media only screen and (min-width: 768px) {
            margin-left: 0;
         }
      }
      .hamburger {
         position: relative;
         height: 15px;
         width: 20px;
         margin-left: 8%;
         cursor: pointer;
         span {
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 3px;
            background-image: linear-gradient(
               92.55deg,
               #defe1b -5.35%,
               #00bd82 114.92%
            );
            transition: 0.25s linear;
            &:first-child {
               transform-origin: 100% 100%;
               top: 0;
            }
            &:nth-child(2) {
               top: calc(50% - 1px);
            }
            &:last-child {
               transform-origin: 100% 100%;
               bottom: 0;
            }
         }
         &.closeIcon {
            span:first-child {
               transform: rotate(-45deg);
            }
            span:nth-child(2) {
               opacity: 0;
            }
            span:last-child {
               transform: rotate(45deg) translate(0px, 2px);
            }
         }

         @media only screen and (min-width: 768px) {
            display: none;
         }
      }
      &__main {
         a {
            position: relative;
            color: var(--text-gray);
            transition: 0.25s;
            &:hover {
               color: white;
            }
            &.active {
               color: white;
            }
         }
      }
      &__main.laptop {
         display: none;
         @media only screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 3vw;
         }
      }
      &__main.mobile {
         position: fixed;
         inset: 0;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 3rem;
         font-size: 20px;
         color: white;
         background-color: rgba(0, 0, 0, 0.85);
         transition: 0.2s linear;
         @media only screen and (min-width: 768px) {
            display: none;
         }
         &.hide {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
         }
      }
   }
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 24px;
      margin-top: calc(3.5rem + 64px);
      h1 {
         text-align: center;
         margin-bottom: 2.5rem;
         font-size: 30px;
         max-width: 850px;
      }
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 4rem;
         .start {
            height: 44px;
            width: 120px;
            border-radius: 5px;
            background-color: var(--green);
            color: white;
         }
         .play {
            height: 40px;
            width: 40px;
            border-radius: 5rem;
            border: 2px solid var(--green);
            background-color: transparent;
            i {
               color: var(--yellow);
            }
         }
      }
      @media only screen and (min-width: 640px) {
         margin-top: calc(6rem + 64px);
      }
      @media only screen and (min-width: 768px) {
         h1 {
            font-size: 50px;
         }
      }
   }
   &__img {
      transform: translate(-1.2rem, 3rem);
      width: var(--header-img-value);
      padding-top: calc(var(--aspect-ratio) * var(--header-img-value));
      margin: 0 auto;
      background-image: url('../assets/banner.png');
      background-size: contain;
      background-repeat: no-repeat;
      @media only screen and (min-width: 768px) {
         transform: translate(-1.5rem, 5rem);
      }
   }
   @media only screen and (min-width: 768px) {
      padding-top: 2rem;
      margin-bottom: 5rem;
   }
}
