.imagradtion {
   padding: 3.5rem 15px;
   background-color: #000;
   &__text {   
      h2 {
         font-size: 30px;
         margin-bottom: 1rem;
         color: #fff;
         
      }
      p {
         color: var(--text-light-gray);
         margin-bottom: 2rem;
      }
      button {
         height: 44px;
         width: 100%;
         border-radius:  4px;
         margin-bottom: 4.5rem;
         background-color: var(--green);
         color: white;
      }
   }
   &__img {
      --width: 340px;
      --aspect-ratio: 1/1.2075;
      position: relative;
      width: var(--width);
      height: calc(var(--aspect-ratio) * var(--width));
      margin: 0 auto;
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
     
   }
   @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 5rem;
      padding: 3.5rem 30px;
      &__text {
         h2 {
            font-size: 40px;
         }
         button {
            width: fit-content ;
            padding: 0 30px;
         }
      }
      &__img {
         flex-shrink: 0;
      }
   }
}
