:root {
   --primary-font: 'Sora', sans-serif;
   --body-bg: #fdf9f1,
   --wrapper-size: 1440px;
   --inner-size: 1100px;
   --gap: 15px;
   --header-bg: #11110F;
   --login-btn: #4B4B4B;
   --green: #00BD82;
   --yellow: #DFFF1B;
   --text-gray:#B5B3AF;
   --text-semi-gray: #4F4D49;
   --text-light-gray: #EFE7D7;
   @media only screen and (min-width: 768px) {
      & {
         --gap: 30px;
      }
   }
}